
* {box-sizing: border-box;}

body { 
  background-image:url("registration.png") ; /* fallback for old browsers */
 background-size: cover;
 background-repeat: no-repeat;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header-right {
  color: black;
  text-decoration: none;
  font-size: 16px;
  position: absolute;
  margin-top: 66px;
  margin-left: 150px;
}


a:hover {
  color: #aa1111;
}

.logo{
    width:150px;
    height:60px;
    display: inline-block;
    margin-left: 70px;
    margin-top: 30px;
}
.intro-header
{
  color:#aa1111;
  font-size: 50px;
  margin-left: 70px;
  margin-top: 70px;
}
.intro-body
{
  color:black;
  margin-left: 70px;
  margin-top: 5px;
  margin-right: 690px;
}
a{
    text-decoration:none;
    color:black;

}

